<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nfcopenreader">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme"
      android:allowBackup="false">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
          <intent-filter android:label="@string/app_name" >
              <action android:name="android.nfc.action.TECH_DISCOVERED" />

              <category android:name="android.intent.category.DEFAULT"/>
          </intent-filter>
          <meta-data
                  android:name="android.nfc.action.TECH_DISCOVERED"
                  android:resource="@xml/nfc_tech_filter" />

          <intent-filter>
              <action android:name="android.intent.action.MAIN" />

              <category android:name="android.intent.category.LAUNCHER" />

              <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
          </intent-filter>

      </activity>
    </application>

</manifest>
